/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 4rem 0;
}

/* Utilites */
/* color  */
.main-color {
    color: #289BDE;
}

.main-bg {
    background: #289BDE;
}

/* Navbar  */
.navbar-icon {
    color: #111;
}

/* Home  */
.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5) ;
}

/* .carousel-content p {
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15%;
    margin: auto;
}
*/

/* Success */
.view-btn:hover,
.view-btn:focus {
    background-color: #289BDE;
}

/* Join  */
.join .join-item:nth-child(1) {
    flex-basis: 60%;
}

.modal-button:hover,
.modal-button:focus {
    color: #289BDE;
}


.footer-icon li{
    background-color: #242424;
}

@media (min-width: 992px) {
    .w-lg-50 {
        width: 50% !important;
    }
}